  <% layout('layouts/settingsplate') -%>


<div class="row m-0" id="genSetSidebar">
  <div class="mini-sidebar sidebar">
    <button class="mini-submenu btn btn-mystic">
      <i class="fas fa-cog"></i>
    </button>
    <div class="list-group list-group-settings">
        <span href="#" class="list-group-item list-mystic">
            Settings
            <span class="float-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>

        <div class="nav-item list-group-item list-settings">
          <div class="pt-2 pb-2">
            <a href="#" class="rounded-set-optn active a-set set-main py-2" data-toggle="collapse" data-target="#collapseBar1" aria-expanded="true">
                <i class="fa fa-comment-o"></i> Lorem ipsum
            </a>            
          </div>
        <div id="collapseBar1" class="collapse" aria-labelledby="headingOne" data-parent="#genSetSidebar">
          <div class="collapse-inner rounded m-0 pb-0">
            <a class="collapse-item a-set a-set-inner py-1 pl-4" href="#">Buttons</a>
            <a class="collapse-item a-set a-set-inner py-1 pl-4" href="#">Cards</a>
          </div>
        </div>
        </div>

        <div class="nav-item list-group-item list-settings">
          <div class="pt-2 pb-2">
            <a href="#" class="rounded-set-optn a-set set-main py-2" data-toggle="collapse" data-target="#collapseBar2" aria-expanded="true">
                <i class="fa fa-comment-o"></i> Lorem ipsum
            </a>            
          </div>
        <div id="collapseBar2" class="collapse" aria-labelledby="headingTno" data-parent="#genSetSidebar">
          <div class="collapse-inner rounded m-0 pb-0">
            <a class="collapse-item a-set a-set-inner py-1" href="#">Buttons</a>
            <a class="collapse-item a-set a-set-inner py-1" href="#">Cards</a>
          </div>
        </div>
        </div>

                <div class="nav-item list-group-item list-settings">
          <div class="pt-2 pb-2">
            <a href="#" class="rounded-set-optn a-set set-main py-2" data-toggle="collapse" data-target="#collapseBar3" aria-expanded="true">
                <i class="fa fa-comment-o"></i> Lorem ipsum
            </a>            
          </div>
        <div id="collapseBar3" class="collapse" aria-labelledby="headingTno" data-parent="#genSetSidebar">
          <div class="collapse-inner rounded m-0 pb-0">
            <a class="collapse-item a-set a-set-inner py-1" href="#">Buttons</a>
            <a class="collapse-item a-set a-set-inner py-1" href="#">Cards</a>
          </div>
        </div>
        </div>


        <div class="nav-item list-group-item list-settings">
          <div class="pt-2 pb-2">
            <a href="#" class="rounded-set-optn a-set set-main py-2" data-toggle="collapse" data-target="#collapseBar4" aria-expanded="true">
                <i class="fa fa-comment-o"></i> Lorem ipsum
            </a>            
          </div>
        <div id="collapseBar4" class="collapse" aria-labelledby="headingTno" data-parent="#genSetSidebar">
          <div class="collapse-inner rounded m-0 pb-0">
            <a class="collapse-item a-set a-set-inner py-1" href="#">Buttons</a>
            <a class="collapse-item a-set a-set-inner py-1" href="#">Cards</a>
          </div>
        </div>
        </div>

    </div>        
  </div>
</div>

