<footer class="sticky-footer bg-custom-gray" style="padding-bottom:none;">
    <div class="container-fluid" style="margin:none">
    <div class="row">
      <div class="col-md-3 text-center text-danger my-auto" style="font-weight:500;font-size:1rem">
        <span>Copyright &copy; 2020 Unifiq, Inc </span>
      </div>
      
      <div class="col-md-9" id="alignwithsize">
        <a class="text-primary" href="#">Join us</a>
        <br>
        <span class="text-black-50"> Contact Us :- </span>
        <a class="text-primary" href="#"> unifiq@query.com </a>
      </div>
    </div>
    </div>
  </footer>
  <hr id="hr-primary">