

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/great-friend.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body  class="bubbles sectional text-left blue-yellow bubble-wrap">
      
  <div class="container px-1">

      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
        <!-- Login container body -->
            <!-- Nested Row within Card Body -->
            <div class="row py-5">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
              <div class="col-sm-0 col-lg-3"></div>

              <div class="col-sm-12 col-lg-6">

              <div class="text-center"><% include ./partials/flash-messages %></div>
              
                    
              <div class="login-card-black d-block">
                <div class="p-2 d-block">
                  <div class="text-center">
                    <h1 class="h4 text-gray-100">Welcome Back!</h1>
                    <p class="mb-4">Great to see you again !</p>
                  </div>
                  <form class="user p-0 m-0 px-1" action="/login" method="POST" autocomplete="off">
                    <div class="form-group p-0 m-0 mb-4">
                      <label for="username" class="login-labels">Username</label>
                      <input class="form-control login-user-input" placeholder="Username" type="text" id="username" name="username" required autofocus>
                    </div>
                    <div class="form-group mb-1 p-0">
                      <label for="password" class="login-labels">Password</label>
                      <input class="form-control login-user-input" placeholder="Password" type="password" id="password" name="password" required>
                    </div>
                    <div class="text-left mb-2 pt-0 mt-0">
                      <a class="small login-links" href="/forgot-password">Forgot Password?</a>
                    </div>
                    <!-- <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
          </div> -->
                    <input type="submit" value="Login" class="btn btn-common-primary btn-block">
                  </form>

                  <div class="text-center mt-1 mb-3">
                    <span class="small">Don't have an account ?</span><a class="small login-links" href="/register"> Register</a>
                  </div>
                  
                </div>
              </div>

              </div>

              
              <div class="col-sm-0 col-lg-3"></div>

            </div>
          

    </div>


  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/great-friend.js"></script>

</body>

</html>
