<% layout('layouts/post-layout') -%>

<div class="card-body pb-1 pt-1 bg-custom">

  <div class="per-card-1">

    <div class="parent-container">

<div class="norOptions">
  
          <div class="row my-2 mx-2">


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-12 mt-2">
              <a id="card-hover" href="#">
              <div class="card card-optn border-left-info border-right-info shadow h-70">
                <div class="card-body py-1">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-info mb-1 text-left">Shared Pages</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-12 mt-2">
              <a id="card-hover" href="#">
              <div class="card card-optn border-left-warning border-right-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-warning mb-1 text-left">History</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-history fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            </div>


            <div class="col-12 mt-2">
              <a id="card-hover" href="#">

              <div class="card card-optn border-left-success border-right-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                       <div class="text-lg font-weight-bold text-success mb-1 text-left">Badges</div>
                    </div>
                    <div class="col-auto">
                     <i class="fas fa-medal fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            </div>

            <div class="col-12 mt-2">
              <div class="card border-left-danger border-right-danger shadow h-70">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-lg font-weight-bold text-danger mb-1 text-left">Channels</div>
                      <a id="card-hover" href="#">
                      <div class="text-sm card-sub-optn font-weight-bold text-danger text-left">
                        My Channels
                      </div>
                      </a>
                      <a id="card-hover" href="#">
                      <div class="text-sm card-sub-optn font-weight-bold text-danger text-left">
                        Subscribed Channels
                      </div>
                      </a>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tv fa-2x text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>

</div>

                      <div class="text-center my-2">
                        <a style="color:#fff;" class="advbtn" href="/alloptions">Back</a>
                      </div>


    </div>

  </div>

</div>