<div class="wrap-rightsect bg-transparent" >
  
  <main>
    <!-- aside.right-sect-aside is given the attribute scroll -->
    <aside class="text-white-600 right-sect-aside">

<!--       <button type="button" class="btn btn-cancel-right-sect">
        <i class="fas fa-2x fa-times-circle fa-cancel-right-sect"></i>
      </button> -->



        <div class="left-sect-drop">
          <div class="dropdown show">
              <a class="btn btn-block btn-right-optn dropdown-toggle py-0" href="#" role="button" id="dropdownMenuLink-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>
                  <div class="text-left pt-1">
                    <span class="right-section-nav-name">Sidebar</span>
                  </div>
                </span>
                
                <span class="search-active-contacts"></span>
              </a>

              <div class="overflow-hidden">
                <div class="dropdown-menu left-sect-dropdown shadow bg-custom text-center p-0 border-none" aria-labelledby="dropdownMenuLink-right" style="width:100%;color:white;">
                  <a class="dropdown-item r-sect text-white-600 right-turn-sect-1-btn py-2" href="#">Topic Info</a>

                  <a class="dropdown-item r-sect text-white-600 right-turn-sect-2-btn py-2" href="#">Your Menu</a>
                <!-- add ejs tag to check wether the owner is seeing the page -->
                  <a class="dropdown-item r-sect text-white-600 right-turn-sect-3-btn py-2" href="#">Create your new unique topic</a>
                </div>
              </div>
          </div>
        </div>


      <div class="right-turn-sect-1">
        <div class="active-people"></div>

  <div class="row">
    <div class="col-md-12">
      <div id="right-output-search">
        <div class="right-search">
          <i class="fa fa-fw fa-search"></i>
          <input class="input-form-control-3" id="searchBar" type="text" placeholder="Search this hub">
        </div>
        <div class="row friends user-status-div" title="online">
          <img src="/images/sampleUsProf/user1img.jpeg" alt="user1">
          <div class="title">
            Saitama
          </div>
          <span class="indicator online"></span>
        </div>
        <div class="row friends" title="online">
          <img src="/images/sampleUsProf/user2img.png" alt="user1">
          <div class="title">
            Saitama 2
          </div>
          <span class="indicator online"></span>
        </div>
        <div class="row friends" title="online">
          <img src="/images/sampleUsProf/user3img.jpg" alt="user1">
          <div class="title">
            Goku 47
          </div>
          <span class="indicator online"></span>
        </div>
        <div class="row friends" title="offline">
          <img src="/images/sampleUsProf/user4img.jpeg" alt="user1">
          <div class="title">
            Goku Dark Secret
          </div>
          <span class="indicator"></span>
        </div>
        <div class="row friends" title="online">
          <img src="/images/sampleUsProf/user5img.jpg" alt="user1">
          <div class="title">
            Genos S Rank
          </div>
          <span class="indicator online"></span>
        </div>
        <div class="row friends" title="away">
          <img src="/images/sampleUsProf/user6img.png" alt="user1">
          <div class="title">
            King S Rank 1
          </div>
          <span class="indicator away"></span>
        </div>
        <div class="row friends" title="offline">
          <img src="/images/sampleUsProf/user7img.jpg" alt="user1">
          <div class="title">
            Fubuki
          </div>
          <span class="indicator online"></span>
        </div>
        <div class="row friends" title="offline">
          <img src="/images/sampleUsProf/user8img.jpg" alt="user1">
          <div class="title">
            Gotetsu 
          </div>
          <span class="indicator"></span>
        </div>
        <div class="row friends" title="offline">
          <img src="/images/sampleUsProf/user9img.jpeg" alt="user1">
          <div class="title">
            Sans Roboto
          </div>
          <span class="indicator"></span>
        </div>
        <div class="row friends" title="offline">
          <img src="/images/sampleUsProf/user10img.jpeg" alt="user1">
          <div class="title">
            Gohan Saiyaan
          </div>
          <span class="indicator"></span>
        </div>
      </div>
    </div>
  </div>


      </div>



    </aside>
    
<!--     <article>
      <h1 class="right-section-name">Content</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsa vero, nesciunt sunt dolorum distinctio corporis quis totam, dicta, rem maiores possimus impedit deleniti odio a. Quidem similique temporibus, odit vero illo cupiditate excepturi earum tenetur porro ea. Enim ea pariatur animi eius quo earum corporis adipisci, nesciunt at eum neque alias quibusdam dolor vel expedita. Expedita dolorem cumque minima, quas, maiores officiis beatae pariatur quis suscipit! Consequatur iusto porro odio laborum minima, reiciendis quam quos dolores ipsam dignissimos laboriosam ex quasi possimus impedit provident eveniet cumque blanditiis doloremque a voluptatum assumenda optio! Dolorem, quas consectetur quidem! Itaque magni officia magnam impedit qui nam unde sint veniam, quis animi earum officiis perferendis repellendus porro reiciendis quaerat cumque numquam tempora corporis rerum tenetur autem necessitatibus ab minus consectetur. Magni eligendi ducimus, porro cumque a odit omnis neque rerum unde. Dolores sequi aliquid voluptatibus odit odio facilis quis et temporibus nobis ipsa sit laudantium libero, corporis consequatur. Nisi saepe provident id veniam tempore aliquam libero hic error sint, tenetur alias earum, quam est nobis eaque, eius odio eum. Nam dolor deleniti eos tempore sunt sapiente accusantium non hic, quod eligendi sequi dolore quos molestiae voluptas labore eius temporibus enim similique odio, quis quisquam! Impedit, iure aspernatur id praesentium minima, culpa alias veniam. Sapiente maiores architecto placeat, et harum eligendi doloribus vel reiciendis eveniet est beatae sit necessitatibus hic eius, corporis deleniti praesentium velit similique, quaerat unde odit. Repellat magni, nihil, quibusdam doloremque maiores tenetur obcaecati tempora, veniam officia, doloribus ratione reprehenderit. Porro eum iste minima corrupti fuga expedita quo dolore explicabo ea eius vero, magnam illum dolorem ullam hic enim sapiente, odio eaque! Similique tempore laboriosam explicabo fuga eum ipsum, doloribus animi, repudiandae laudantium. Dignissimos, accusamus quasi sit atque nam quidem autem at maxime, soluta, eveniet excepturi quisquam ratione perspiciatis ipsum consectetur facilis odio ad possimus officiis odit molestiae. Exercitationem facere magnam mollitia assumenda odio est doloribus accusamus animi dignissimos veritatis ut excepturi, quia maiores, ipsum sint ex sed a minus quidem temporibus. Ipsum, quod quidem nam quisquam, quaerat accusantium in iusto inventore, fugiat sint mollitia magnam totam distinctio, vel deleniti sit voluptas quibusdam sequi! Officiis quo, facere atque similique a blanditiis, nostrum recusandae aut. Nemo voluptas, nesciunt totam fugit omnis. Laborum qui laudantium quos, inventore minima ipsum ut velit quam nobis eligendi, expedita quo necessitatibus, ea nemo odit sapiente commodi atque! Expedita facere quae modi iste sed, placeat sint eligendi, sapiente.
      </p>
    </article> -->
    
  </main>
  
</div>
